<!DOCTYPE html>
<html>
    <head>
        <meta charset='UTF-8' />
        <title>Education Portfolio for Lifelong Learners</title>
    </head>
    <body>
        <h1 class="title">Create Your Account Below</h1>
        
        <div>
            <!--Form to create a new account-->
            <form method="post" action="/registrations">
                <label for="acct_first_name">First Name:</label>
                <input type="text" name="acct_first_name">
                    
                <label for="acct_last_name">Last Name:</label>
                <input type="text" name="acct_last_name">
                
                <label for="zipcode">Zipcode:</label>
                <input type="text" name="zipcode">
                
                <label for="email">Email:</label>
                <input type="text" name="email">
                
                <label for="password">Password:</label>
                <input type="password" name="password" maxlength="10">
                
                <label for="join_date">Date:</label>
                <input type="date" name="join_date">
                
                <input type="submit" value="Create Account">
            </form>
        </div>
        
        <a class="button" href="/">Return Home</a>
        
    </body>
</html>