<!--Access account data-->

<% @account.all do |i| %>    
    
    <h1 class="title">Delete Account</h1>
    
    <!--Warning message-->
    <p><strong><%= i.acct_first_name %></strong>, deleting your account will delete all students, activities, books, subjects and personal information associated with your account.</p>
    
    <p>Are you sure you want to delete everything and close your account?</p>
    
    <!--Button to delete account-->
    <form method="post" action="/accounts/delete/<%= i.account_id %>">
        <table>   
            <tr>
                <td><label for="submit">Delete Account</label></td>
                <td><input type="submit"></td>
            </tr>
        </table>
    </form>

<% end %><!--End account data access-->
   