<!--Access activity data-->

<% @activity.all do |a| %>
        
    <h1>Delete Activity</h1>
    
    <!--Warning message-->
    <p>Deleting '<%= a.title %>' will delete the activity from the portfolio of each participating student.</p>
    
    <h3>Are you sure you want to delete '<%= a.title %>'?</h3>
    
    <!--Button to delete activity-->
    <form method="post" action="/activities/delete/<%= a.account_id %>/<%= a.pk %>">
        <table>   
            <tr>
                <td><label for="submit">Delete Activity</label></td>
                <td><input type="submit"></td>
            </tr>
        </table>
    </form>
    
<% end %><!--End activity data access-->
 