<!--Access subject data-->

<% @subject.all do |j| %>    
    
    <h1 class="title">Delete Subject</h1>
    
    <!--Warning message-->
    <p>Deleting '<%= j.subject_name %>' from your account will delete the subject from all activities and books.</p>
    
    <p>Are you sure you want to delete '<%= j.subject_name %>'?</p>
    
    <!--Button to delete the subject-->
    <form method="post" action="/subjects/delete/<%= j.account_id %>/<%= j.subject_id %>">
        <input type="submit" value="Delete It!">
    </form>
    
<% end %><!--End subject data access-->