<!DOCTYPE html>
<html>
    <head>
        <meta charset='UTF-8' />
        <title>Home Page</title>
    </head>
    
    <body>
        <h1>WELCOME!</h1>
        <h1>Start Creating Your Home-Education Portfolio Today</h1>
        <h2>Select Your Account</h2>
        <ul><% @accounts.each do |i| %>
            <li>
                <a href="/accounts/<%= i.pk %>"><%= i.acct_first_name %> <%= i.acct_last_name %></a>
            </li>
            <% end %>
        </ul>
        
        <button type="button"><a href="/accounts/login">Login</a></button><br>
        <button type="button"><a href="/accounts/new">Create New Account</a></button>
        
    </body>
</html>