<!DOCTYPE html>
<html>
    <head>
        <meta charset='UTF-8' />
        <title>Education Portfolio for Lifelong Learners</title>
    </head>
    
    <body>
        <p class="message"><%= @message %></p>
        
        <p class="greeting">Welcome!</p>
        
        <h1 class="title">Education Portfolio For Lifelong Learners</h1>
        
        <h2 class="subtitle">For Homeschoolers and Self-Educators Everywhere</h2>
        
        <div class="signup">
            <h3>Start creating your education portfolio Today!</h3>
            <!--Button to create new account-->
            <a class="button" href="/registrations/signup">Sign Up</a>
        </div>
        
        <p><strong>OR</strong></p>
        
        <div class="login">
            <h3>Already have an account?</h3>
            <!--Button to login to existing account-->
            <a class="button" href="/sessions/login">Log In</a>
        </div>
        
    </body>
</html>