<!--<div>
    <%# yield %>
</div>-->

<!DOCTYPE html>
<html>
    
    <head>
        <meta charset='UTF-8' />
        <title>Education Portfolio for Lifelong Learners</title>
    </head>
    
    <body>
        <!--Access account data-->
        <% @account.all do |i| %>
        
        <!--MENU-->
        <div class="menu">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/account/dashboard">Dashboard</a></li>
                <li><a href="/activities/<%= i.account_id %>">Activities</a></li>
                <li><a href="/books/<%= i.account_id %>">Books</a></li>
                <li><a href="/subjects/<%= i.account_id %>">Subjects</a></li>
            </ul>
        </div>
        
        <div class="">
            <ul>
                <li><a href="/account/profile">Profile</a></li>
                <li><a href="/sessions/logout">Log Out</a></li>
            </ul>
        </div>
        
        <% end %><!--End account data access-->
        
        <!--YIELD to VIEWS-->
        <%= yield %>
        <!--End VIEWS script-->
    </body>

</html>
        
