<!DOCTYPE html>
<html>
    
    <head>
        <meta charset='UTF-8' />
        <title>Education Portfolio for Lifelong Learners</title>
    </head>
    
    <body>
        <!--Access account data-->
        <% @account.all do |i| %>
        
        <!--MENU-->
        <div class="menu">
            <ul>
                <li><a href="/">EPLL Home</a></li>
                <li><a href="/account/dashboard">Dashboard</a></li>
                <li><a href="/account/activities">Activities</a></li>
                <li><a href="/account/books">Books</a></li>
                <li><a href="/account/subjects">Subjects</a></li>
            </ul>
        </div>
        
        <div class="">
            <ul>
                <li><a href="/account/profile">Profile</a> (<%= i.acct_last_name %>)</li>
                <li><a href="/sessions/logout">Log Out</a></li>
            </ul>
        </div>
        
        <% end %><!--End account data access-->
        
        <!--YIELD to VIEWS-->
        <%= yield %>
        <!--End VIEWS script-->
    </body>

</html>
        
