<!DOCTYPE html>
<html>
    <head>
        <meta charset='UTF-8' />
        <title>Education Portfolio for Lifelong Learners</title>
    </head>
    
    <body>
        <h1>Login to Your Account</h1>
        
        <!--Enter login info-->
        <form method="post" action="">
            <table>
                <tr>
                    <td><label for="email">Email:</label></td>
                    <td><input type="text" name="email"></td>
                </tr>
                <tr>
                    <td><label for="password">Password:</label></td>
                    <td><input type="password" name="password"></td>
                </tr>
            </table>
        </form>
        
        <!--Button to login-->
        <button type="button"><a href="/accounts/login">Login</a></button><br>
        
        <!--Button to create new account-->
        <button type="button"><a href="/accounts/new">Create New Account</a></button>
        
        <p></p>
    </body>
</html>