<!--Access account data-->

<% @account.all do |i| %>

    <h1>Add Student</h1>
    
    <!--Form to add new student-->
    <form method="post" action="/students/create/<%= i.pk %>">
        <table>
            <tr>
                <td><label for="stud_first_name">First Name:</label></td>
                <td><input type="text" name="stud_first_name"></td>
            </tr>
            <tr>
                <td><label for="stud_last_name">Last Name:</label></td>
                <td><input type="text" name="stud_last_name"></td>
            </tr>
            <tr>
                <td><label for="birth_date">Birth Date:</label></td>
                <td><input type="date" name="birth_date"></td>
            </tr>
            <tr>
                <td><input type="submit"></td>
            </tr>
        </table>
    </form>
    
<% end %><!--End account data access-->
