<!--Access account data-->
<% @account.all do |i| %>

    <h2>Current Subjects</h2>
    
    <ol><!--List all current subjects on account-->
        <% @subjects.each do |j| %>
            <li><%= j.subject_name %></li>
        <% end %><!--End subjects loop-->
    </ol>
    
    <h1>Add Subject</h1>
    
    <!--Form to add a new subject to the account-->
    <form method="post" action="/subjects/create/<%= i.account_id %>">
        <table>
            <tr>
                <td><label for="subject_name">Subject Name:</label></td>
                <td><input type="text" name="subject_name"></td>
            </tr>
            <tr>
                <td><label for="description">Description (Opt):</label></td>
                <td><input type="text" name="description"></td>
            </tr>
                <td><input type="submit"></td>
            </tr>
        </table>
    </form>
    
<% end %><!--End account data access-->