<!--Access account data-->
<% @account.all do |i| %>

    <h1 class="title">Add Subject</h1>
    
    <div>
        <!--Form to add a new subject to the account-->
        <form method="post" action="/subjects/create/<%= i.account_id %>">
            <label for="subject_name">Subject Name:</label>
            <input type="text" name="subject_name" placeholder="Subject Name...">
        
            <label for="description">Description (Opt):</label>
            <input type="text" name="description">
        
            <input type="submit" value="Submit">
        </form>
    </div>
    
    <h2 class="subjects">Current Subjects</h2>
    
    <ol><!--List all current subjects on account-->
        <% @subjects.each do |j| %>
            <li><%= j.subject_name %></li>
        <% end %><!--End subjects loop-->
    </ol>
    
<% end %><!--End account data access-->