<!--Access account data-->

<% @account.all do |i| %>
        
    <h1 class="title">Add New Activity</h1>
    
    <div>
        <!--Form to add new activity-->
        <form method="post" action="/account/activities/create">
            <div class="date">
                <label for="activity_date">Date:</label>
                <input type="date" name="activity_date">
            </div>
            
            <div class="activity_title">
                <label for="title">Title:</label>
                <input type="text" name="title">
            </div>
            
            <div class="students">
                <label for="student_id[]">Student(s):</label>
                <!--List each student on account with checkbox-->
                <% @students.each do |s| %>
                <input type="checkbox" name="student_id[]" value="<%= s.student_id %>"><%= s.stud_first_name %>
                <% end %><!--End student loop-->
            </div>
            
            <div class="duration">
                <label for="duration">Duration:</label>
                <input type="number" name="hrs" placeholder="Hrs">
                <input type="number" name="mins" placeholder="Mins">
            </div>

<!-- - - - - - - - - - - - - - - S U B J E C T S - - - - - - - - - - - - - --->
            <!--'Subjects' label plus first three subject options (design is temporary - to make subjects 3/row starting offset from the label so they fit on the page during development)-->
            <div class="subject_label">
                <label for="subject_id[]">Subject(s):</label>
            </div>
                
            <!--Create array for subjects-->
            <% subj_array = @subjects.to_a %>
            <!--Setup while loop to list 3/row-->
            <% i = 0 %>
            <% subj_length = subj_array.length %>
            <% while i < subj_length do %>
                <div class="subjects">
                    <!--Loop through and output 3 subjects/row-->
                    <% subj_array[i..(i + 2)].each do |j| %>
                    <input type="checkbox" name="subject_id[]" value="<%= j.subject_id %>"><%= j.subject_name %>
                    <% end %>
                </div>
                <% i += 3 %>
            <% end %><!--End 'while' loop for listing of subjects-->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - --->
            
            <div class="description">
                <label for="description">Description:</label>
                <input type="text" name="description">
            </div>
            
            <div class="actions">
                <input type="submit" value="Submit">
                <input type="reset" value="Clear">
            </div>
        </form>
    </div>
<% end %><!--End account data access-->