<!--Access account data-->
<% @account.all do |i| %>

    <h1 class="title">Add Book</h1>
   
    <div>
        <!--Form to add new book-->
        <form method="post" action="/account/books/create">
            <div class="book_title">
                <label for="title">Title:</label>
                <input type="text" name="title" placeholder="title...">
                <input type="text" name="subtitle" placeholder="subtitle...">
            </div>
            
            <div class="author">
                <label for="author">Author:</label>
                <input type="text" name="prefix" placeholder="prefix">
                <input type="text" name="first_name" placeholder="first name">
                <input type="text" name="middle_name" placeholder="middle name">
                <input type="text" name="last_name" placeholder="last name">
                <input type="text" name="Suffix" placeholder="suffix">
            </div>
            
            <div class="category">
                <label for="category">Category:</label>
                <!--Radio buttons allow only one choice to be selected-->
                <input type="radio" id="category1" name="category" value="Nonfiction">Nonfiction
                <input type="radio" id="category2" name="category" value="Fiction">Fiction
            </div>
            
            <div class="rating">
                <label for="rating">Rating(1-5):</label>
                <input type="number" name="rating">
            </div>
            
            <div class="date">
                <label for="finish_date">Date Finished:</label>
                <input type="date" name="finish_date">
            </div>
            
            <!--Checkbox for each student on the acount-->
            <div class="students">
                <label for="student_id[]">Student(s):</label>
                <% @students.each do |s| %>
                <input type="checkbox" name="student_id[]" value="<%= s.student_id %>"><%= s.stud_first_name %>
                <% end %>
            </div>
    
<!-- - - - - - - - - - - - - - - S U B J E C T S - - - - - - - - - - - - - --->
            <!--'Subjects'  label plus first three subject options-->
            <div class="subjects_label">
                <label for="subject_id[]">Subject(s):</label>
            </div>
            
            <!--Subjects put into an array-->
            <% subj_array = @subjects.to_a %>
            <!--Subjects organized three/row-->
            <% i = 0 %>
            <% subj_length = subj_array.length %>
            <% while i < subj_length do %>
                <div class="subjects">
                    <% subj_array[i..(i + 2)].each do |j| %>
                    <input type="checkbox" name="subject_id[]" value="<%= j.subject_id %>"><%= j.subject_name %>
                    <% end %>
                </div>
                <% i += 3 %>
            <% end %><!--End 'while' loop for listing of subjects-->
            
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - ---> 
            <div class="actions">
                <input type="submit" value="Submit">
                <input type="reset" value="Clear">
            </div>
        </form>
    </div>

<% end %><!--End account data access-->
   