<!--Access account data-->
<% @account.all do |i| %>
        
    <h1 class="title">View Portfolio by Subject</h2>
    
    <!--Linked list of all subjects on account-->
    <ul><% @subjects.each do |j| %>
        <li>
            <!--Link to individual subject page-->
            <a class="subject" href="/account/subjects/<%= j.subject_id %>"><%= j.subject_name %></a> 
            
            <!--Count # of activities logged in that subject-->
            <div class="num_activities">
                <span class="label">Activities:</span>
                <span class="data"><%= @activities.where(subject_id: j.subject_id).count %></span>
            </div><!--End 'num_activities' div-->    
            
            <!--Count # books logged under that subject--> 
            <div class="num_books">
                <span class="label">Books:</span>
                <span class="data"><%= @books.where(subject_id: j.subject_id).count %></span>
            </div><!--End 'num_books' div-->   
        </li>
        <% end %><!--End subject loop-->
    </ul>

<% end %><!--End account data access-->